<div class="header-top">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="header-elements">
            <h1 class="header-h1">Дневник спортсмена</h1>
            <p class="header-p">
                    Ведите учет ваших тренировок, отслеживайте ваши результаты,<br>
                    Взаимодействуйте с тренером. Добивайтесь новых высот<br>
                    вместе с нашим приложением.
            </p>
            <div class="header-buttons">
                <button class="header-button-1">Войти</button>
                <button class="header-button-2">Стать участником</button>
            </div>
            <div class="header-media">
                <ul>
                    <li class="header-media-li-1"><a href="#"></a></li>
                    <li class="header-media-li-2"><a href="#"></a></li>
                    <li class="header-media-li-3"><a href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="container-training">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="container-training-elements">
            <h1 class="container-training-h1">Заносите результаты своих тренировок</h1>
            <p class="container-training-p">После каждой тренировки не забывайте заносить новые данные в систему,<br>
             помните, что любой ваш труд не должен оставаться незамеченным.</p>
            <div class="container-training-rectangle">
                <div class="container-rectangle-img-1"></div>
                <p class="container-rectangle-description-1">
                    Создавайте и корректируйте<br>
                    программу тренировок
                </p>
                <div class="container-rectangle-img-2"></div>
                <p class="container-rectangle-description-2">
                    Заносите результаты<br>
                    тренировок
                </p>
                <div class="container-rectangle-img-3"></div>
                <p class="container-rectangle-description-3">
                    Получайте задания<br>
                    от тренера
                </p>    
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="container-health">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="container-health-elements">
            <div class="container-health-h1">
                Следите за состоянием своего здоровья
            </div>
            <p class="container-health-p">
                До и после тренировки проверьте свой пульс, температуру тела,
                узнайте<br> какое время для тренировок наиболее комфортно для вашего организма.
            </p>
            <div class="container-health-rectagle">
                <div class="container-health-img-1"></div>
                <p class="container-health-description-1">
                    Заносите в систему данные<br> 
                    о вашем самочувствии до<br>
                    и после тренировки
                </p>
                <div class="container-health-img-2"></div>
                <p class="container-health-description-2">
                    Система способна отслеживать<br>
                    состояние вашего здоровья и<br>
                    делать соответствующие<br>
                    рекомендации
                </p>
            </div>
        </div>
        <div class="container-statistics-elements">
            <div class="container-statistics-h1">Узнайте о своих результатах</div>
            <p class="container-statistics-p">
                При внесении ваших данных в систему формируется статистика, которая<br>
                отслеживает прогресс вашей деятельности с первых дней ведения дневника.
            </p>
            <div class="container-statistics-statistics">
                <div class="col-lg-7">
                    <div class="container-statistics-img"></div>
                </div>
                <div class="col-lg-5">
                    <button class="container-statistics-button-1">Общая динамика</button>
                    <button class="container-statistics-button">Приседания</button>
                    <button class="container-statistics-button">Пресс</button>
                    <button class="container-statistics-button">Вольный бой</button>
                    <button class="container-statistics-button">Настольный теннис</button>
                    <button class="container-statistics-button">Бой с тенью</button>
                    <button class="container-statistics-button">Плавание</button>
                    <button class="container-statistics-button">Бег</button>
                    <button class="container-statistics-button">Скакалка</button>
                    <button class="container-statistics-button">Борьба</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>

   
</div>
    <div class="container-footer">
        <div class="container-footer-element-1">
            <div class="col-lg-3"></div>
            <div class="col-lg-2"> 
                <div class="container-footer-p-regular">Напишите
                <div class="container-footer-p-bold">нам</div>:</div>
                <form class="form-send">
                    <input class="container-footer-input-login" name="login"  type="text" value="Как с вами связаться" />
                    <input class="container-footer-input-comment" name="comment"  type="text" value="Сообщение" />
                    <button class="container-footer-button-1">Отправить</button>
                </form>        

            </div>
            <div class="col-lg-3">
                <div class="container-footer-p-bold">Получите</div>
                <div class="container-footer-p-regular">
                учетную запись и<br> начните использовать<br>приложение «Дневник спортсмена»<br>
                уже сегодня</div>
                <button class="container-footer-button">Регистрация</button>


            </div>
            <div class="col-lg-4"></div>
        </div>
        <div class="container-footer-element-2">
            <div class="col-lg-3"></div>
            <div class="col-lg-2">
                <div class="container-footer-p-bold">Наши</div>
                <div class="container-footer-p-regular">контакты:</div>
                <div class="container-footer-contact">
                    <img class="container-footer-img-1" src="../../img/contancticons.png">
                    <div class="container-p-regular"> +7 (904) 227 56 98 </div>
                    <div class="container-p-regular-1">  belenkosemen@yandex.ru </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="container-footer-p-bold">Мы</div>
                <div class="container-footer-p-regular">в социальных сетях:</div>
                <ul class="container-footer-ul">
                    <li class="header-media-li-1"><a href="#"></a></li>
                    <li class="header-media-li-2"><a href="#"></a></li>
                    <li class="header-media-li-3"><a href="#"></a></li>
                </ul>
                <div class="final">Журнал спортсмена, 2017</div>
                
            </div>
            <div class="col-lg-5"></div>
        </div>

    </div>





